@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700');

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'PT Sans', sans-serif;
  box-sizing: border-box;
 }

a {
  color: #666666;
  text-decoration: none;
}

a:hover {
  color: #dddddd;
}

button {
  border: 0px solid transparent;
  background-color: transparent;
}

button:focus {
  outline: none;
}

#toggle {
  display: none;
}

/* Grid */

.container {
  width: 1140px;
  margin-left: auto;
  margin-right: auto;
}

.row:after {
  clear: both;
  content: "";
  display: table;
}

label {
  font-size: 20px;
  line-height: 70px;
  display: none;
}

/* Header */

.header {
  display: flex;
  justify-content: space-between;
  color: #fff;
}

.header__background {
  background: #222222;
}

.header__section {
  display: flex;
  align-items: center;
}

.header__item {
  padding: 15px 15px 20px;
  font-size: 16px;
  margin-left: 5px;
}

.header__item__color {
  color: #fff;
}

.header__item__balance {
  color: #666666;
  font-size: 14px;
  margin-right: 10px;
}

.header__item__bold {
  font-weight: 600;
}

.header__item__notifications {
  background-image: url(./assets/ic-notifications-black-24-px.svg);
  background-size: contain 40px;
  background-repeat: no-repeat;
  margin-top: 10px;
  padding-right: 2px;
}

.header__notification__badge {
  position:relative;
}

.header__notification__badge[data-badge]:after {
  content:attr(data-badge);
  position:absolute;
  top: 0px;
  right: -1px;
  font-size:.7em;
  background: #ff6633;
  color:white;
  width:6px;
  height:6px;
  text-align:center;
  line-height:18px;
  border-radius:50%;
  box-shadow:0 0 1px #333;
}

.header__item__help {
  background-image: url(./assets/ic-help-outline-24-px-copy-3.svg);
  background-size: contain 40px;
  background-repeat: no-repeat;
  margin-top: 10px;
  padding-right: 5px;
}

.headerlogo {
  font-size: 24px;
  font-weight: 900;
  letter-spacing: 2px;
  color: white;
  padding-left: 0px;
  margin: 0px;
}

.headerButton {
  cursor: pointer;
}

.header__select {
  width: 155px;
  overflow:hidden;
  background: url(./assets/triangle.svg) no-repeat right;
  background-size: 6px;
  margin-right: 15px;
}

.header__select select {
  width: 155px;
  background-color: transparent;
  border: none;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  border: 0px solid #ffffff;
}

.header__select select::before {
  box-shadow: #66666650;
  border: 0px solid #ffffff;
}
.header__select select:focus {
  outline: none;
}

.header__select select option {
  color: black;
}

.header__select.slate {
  color: #666666;
}

/* Content Page Menu */



/* Filter Content */



/* Table Content */


/* Media */

@media screen and (max-width: 1180px) {
  .container {
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
  }
}
@media screen and (max-width: 992px) {
  .container {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
  }

  .header {
    flex-direction: column;
    align-items: center;
  }
  .header__section:last-child {
    border-top: 1px solid #333333;
    width: 100%;
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .header__section:first-child{
    width: 100%;
    display: inline-block;
    text-align: center;
  }

  .header__item {
    margin-left: 0;
  }

  .headerlogo {
    margin: 0;
    padding-left: 30px;
  }

  .header__menulinks {
    border-top: 1px solid #333333;
    text-align: center;
    justify-content: center;
    width: 100%;
    display: none;
    overflow: hidden;
  }

  .header__menulinks a {
    display: block;
    width: 100%;
    justify-content: center;
  }

  label {
    display: inline;
    cursor: pointer;
    float: right;
    padding-right: 20px;
  }
  
  #toggle:checked ~ .header__menulinks {
    display: block;
    
  }
}

@media screen and (max-width: 400px) { 
  .header__item__bold {
    display: block;
  }

  
}