@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700');

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'PT Sans', sans-serif;
  box-sizing: border-box;
 }

a {
  color: #666666;
  text-decoration: none;
}

a:hover {
  color: #dddddd;
}

button {
  border: 0px solid transparent;
  background-color: transparent;
}

button:focus {
  outline: none;
}

button:hover {
  opacity: 0.8;
}

#toggle {
  display: none;
}

/* Grid */

.container {
  width: 1140px;
  margin-left: auto;
  margin-right: auto;
}

.row:after {
  clear: both;
  content: "";
  display: table;
}

label {
  font-size: 20px;
  display: none;
}

/* Header */

.header {
  display: flex;
  justify-content: space-between;
  color: #fff;
}

.header__background {
  background: #222222;
}

.header__section {
  display: flex;
  align-items: center;
}

.header__item {
  padding: 15px 15px 20px;
  font-size: 16px;
  margin-left: 5px;
}

.header__item__color {
  color: #fff;
}

.header__item__balance {
  color: #666666;
  font-size: 14px;
  margin-right: 10px;
}

.header__item__bold {
  font-weight: 600;
}

.header__item__notifications {
  background-image: url(./assets/ic-notifications-black-24-px.svg);
  background-size: contain 40px;
  background-repeat: no-repeat;
  margin-top: 10px;
  padding-right: 2px;
}

.header__notification__badge {
  position:relative;
}

.header__notification__badge[data-badge]:after {
  content:attr(data-badge);
  position:absolute;
  top: 0px;
  right: -1px;
  font-size:.7em;
  background: #ff6633;
  color:white;
  width:6px;
  height:6px;
  text-align:center;
  line-height:18px;
  border-radius:50%;
  box-shadow:0 0 1px #333;
}

.header__item__help {
  background-image: url(./assets/ic-help-outline-24-px-copy-3.svg);
  background-size: contain 40px;
  background-repeat: no-repeat;
  margin-top: 11px;
  padding-right: 5px;
}

.header__item__help:hover {
  opacity: 0.8;
}

.headerlogo {
  font-size: 24px;
  font-weight: 900;
  letter-spacing: 2px;
  color: white;
  padding-left: 0px;
  margin: 0px;
}

.headerButton {
  cursor: pointer;
}

.header__select {
  width: 155px;
  overflow:hidden;
  background: url(./assets/triangle.svg) no-repeat right;
  background-size: 6px;
  margin-right: 15px;
}

.header__select:hover {
  opacity: 0.8;
}

.header__select select {
  width: 140px;
  background-color: transparent;
  border: none;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  border: 0px solid #ffffff;
}

.header__select select::before {
  box-shadow: #66666650;
  border: 0px solid #ffffff;
}
.header__select select:focus {
  outline: none;
}

.header__select select option {
  color: black;
}

/* Content Page Menu */

.content__title h1 {
  font-size: 28px;
  font-weight: 400;
  margin: 20px 0px;
}

.content__menu__background__line {
  border-bottom: 1px solid #cccccc;
  margin-bottom: 50px;
}

.content__menu a {
  text-decoration: none;
  color: black;
}

.content__menu a:hover {
  color: #ff6633;
}

.content__menu ul {
  list-style: none;
  display: flex;
}

.content__menu li {
  color: #999999;
  margin-right: 30px;
}

.content__menu__span {
  margin-left: 10px;
  font-size: 10px;
  font-weight: 600;
  border: 1px solid #cccccc;
  border-radius: 50px;
  padding: 2px 6px;
}

.content__menu__orange {
  margin-left: 10px;
  font-size: 10px;
  background: #ff6633;
  color: #fff;
  border: 0px solid #ff6633;
  border-radius: 50px;
  padding: 2px 6px;
}

.content__menu a {
  color: #999999;
}

.content__menu a:hover {
  color: #ff6633;
}

.content__menu__chosen {
  position: relative;
  bottom: -1px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ff6633;
}

.content__menu__chosen a {
  color: black;
}

.content__menu__circle {
  display: block;
  position: relative;
  top: -28px;
  float: right;
  padding: 0;
  z-index: 98;
  margin: 0 auto;
  -webkit-box-shadow: 0 6px 10px 0 rgba(0,0,0,0.3);
  box-shadow: 0 6px 10px 0 rgba(0,0,0,0.3);
  border-radius: 50%;
  height: 55px;
  width: 55px;
  background-color: #ff6633;
  transition: 0.2s;
  text-align: center;   
}

.content__menu__circle:active {
  transform: scale(0.90);
  box-shadow: 0 2px 15px 0 rgba(0,0,0,0.3);
}

.content__menu__circle:hover {
  cursor: pointer;
  background-color: lighten(#ff6633, 10%);
  box-shadow: 0 8px 15px 0 rgba(0,0,0,0.3);
}

.content__menu__circle img {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -10px;
  margin-top: -10px;
  width: 20px;
  height: 20px;
}

/* Filter Content */

input[type=text] {
  padding: 6px 12px;
  border: 1px solid #cccccc;
  border-radius: 2px;
  font-size: 14px;
  margin-right: 30px;
  margin-bottom: 40px;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label {
  display: inline;
  padding-left: 20px;
}

input[type="checkbox"] + label:before {
  content: '';
  display: inline-block;
  width: 12px;
  height: 12px;
  border: 1px solid #999999;
  border-radius: 2px;
  vertical-align: middle;
  margin-left: -7px;
  margin-right: 7px;
  position: relative;
  top: -2px;
}

input[type="checkbox"]:checked + label:before {
  content: '\02714';
  color: green;
  text-align: center;
  font-size: 10px;
  font-weight: 400;
  position: relative;
  top: -2px;
}

.content__filter {
  display: inline;
}

.content__filter li {
  list-style: none;
  display: inline;
}

.content__filter__checkmark {
  color: #999999;
  font-size: 14px;
  margin-right: 10px;
  vertical-align: text-top;
}

.content__select {
  display: inline;
  width: 125px;
  overflow:hidden;
  background: url(./assets/triangle__filter.svg) no-repeat right;
  background-size: 6px;
  margin-left: 20px;
}

.content__select:hover {
  opacity: 0.8;
}

.content__select select {
  width: 125px;
  background-color: transparent;
  border: none;
  font-size: 14px;
  font-weight: 400;
  color: black;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  border: 0px solid #ffffff;
  position: relative;
  bottom: 2px;
}

.content__select select::before {
  box-shadow: #66666650;
  border: 0px solid #ffffff;
}
.content__select select:focus {
  outline: none;
}

.content__select select option {
  color: black;
}

/* Table Content */

.content__table {
  padding-right: 0px;
  padding-left: 0px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td {
  text-align: left;
  border-bottom: 1px solid #dddddd;
}

td {
  padding: 15px 0px;
}

td:nth-child(1) {
  width: 10%;
}

td:nth-child(2) {
  width: 15%;
}

td:nth-child(3) {
  padding-right: 20px;
}

td:nth-child(4) {
  width: 15%;
}

td:nth-child(5) {
  width: 10%;
}

tr:not(:first-child):hover {background-color:#eeeeee50;}

th {
  border-bottom: 1px solid #dddddd;
  text-align: left;
  padding-bottom: 10px;
  font-size: 12px;
  font-weight: 400;
  color: #999999;
}

/* Media */

@media screen and (max-width: 1180px) {
  .container {
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
  }
}

@media screen and (max-width: 990px) {
  .container {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
  }

  .header {
    flex-direction: column;
    align-items: center;
  }
  .header__section:last-child {
    border-top: 1px solid #333333;
    width: 100%;
    justify-content: center;
  }

  .content__menu, .content__filter, .content__title, .content__table {
    padding-right: 20px;
    padding-left: 20px;
  }
}

@media screen and (max-width: 900px) {
  .content__menu ul {
    flex-direction: column;
  }

  .content__menu ul li {
    border-bottom: 1px solid #dddddd;
    padding: 10px 0px 10px 0px;
  }

  .content__menu ul li:last-child {
    border-bottom: none;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 830px) {

  input[type=text] {
    margin: 0px;
  }

  input[type="checkbox"] + label {
    padding-left: 20px;
  }

  .content__filter {
    display: flex;
    flex-direction: column;
  }

  .content__filter li {
    list-style: none;
    border-bottom: 1px solid #dddddd;
    padding-top: 10px;
    padding-bottom: 20px;
    margin-right: 70px;
  }

  .content__filter__checkmark {
    position: relative;
    left: -12px;
    top: 6px;
  }

  .content__select {
    position: relative;
    left: -20px;
    margin-top: 15px;
  }

  /* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
    display: block; 
    font-size: 12px;
  }

  table {
    margin-top: 40px;
  }
  
  th {
    display: none;
  }
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
    left: -9999px;
	}
	
	tr { 
    border: 1px solid #eeeeee;
    margin-bottom: 10px;

   }

  tr:first-child {
    border: none;
    margin: -10px;
  }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
    padding-left: 30%; 
  }

  td:nth-child(1) {
    width: initial;
  }

  td:nth-child(2) {
    width: initial;
  }

  td:nth-child(4) {
    width: initial;
  }

  td:nth-child(5) {
    width: initial;
  }
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 15px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
	
	/*
	Label the data
	*/
	td:nth-of-type(1):before { content: "ID"; }
	td:nth-of-type(2):before { content: "Город"; }
	td:nth-of-type(3):before { content: "Название"; }
	td:nth-of-type(4):before { content: "Выполнить до"; }
	td:nth-of-type(5):before { content: "Сумма"; }
}

@media screen and (max-width: 600px) {
  .header__section:first-child{
    width: 100%;
    display: inline-block;
    text-align: center;
  }

  .header__item {
    margin-left: 0;
  }

  .headerlogo {
    margin: 0;
    padding-left: 30px;
  }

  .header__menulinks {
    border-top: 1px solid #333333;
    text-align: center;
    justify-content: center;
    width: 100%;
    display: none;
    overflow: hidden;
  }

  .header__menulinks a {
    display: block;
    width: 100%;
    justify-content: center;
  }

  .burger {
    display: inline;
    cursor: pointer;
    float: right;
    padding-right: 20px;
    line-height: 65px;
  }
  
  #toggle:checked ~ .header__menulinks {
    display: block;
  }
}

@media screen and (max-width: 400px) { 
  .header__item__bold {
    display: block;
  }

  
}